<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h2>Sucursales</h2>
            <ul>
                <li><a href="#caballito">Caballito</a></li>
                <li><a href="#palermo">Palermo</a></li>
                <li><a href="#sanmartin">San martin</a></li>
            </ul>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h2>Redes Sociales</h2>
            <div class="social-icons">
                <a href="https://www.facebook.com/pages/Panaderia-y-Confiteria-Don-Luis/384009461684057"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/lapanaderiaes?lang=es"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/panaderiavenezolanadonna/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/@panaderiapasoapaso"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Daniis | Todos los derechos reservados
    </div>
</footer>

</body>
</html>