<%- include('../partials/head')%> 

<section class="about-section">
    <div class="about-text">
        <h2>Sobre nosotros</h2>
        <p>Bienvenidos a Panadería Denisse, el rincón donde la tradición y la innovación se fusionan para crear experiencias gastronómicas inigualables. Desde nuestros inicios, hemos trabajado con pasión y dedicación para ofrecer productos frescos, artesanales y de la más alta calidad. En Panadería Denisse, cada día comienza con el aroma irresistible del pan recién horneado, las facturas esponjosas y los pasteles deliciosos, todos elaborados con los mejores ingredientes y técnicas tradicionales.
        </p>
    </div>
    <div class="about-image">
        <img src="https://img.freepik.com/foto-gratis/delicioso-pan-bagels-huevos-sobre-mesa_144627-8661.jpg?t=st=1717605044~exp=1717608644~hmac=bd43fdeb41f826f44e678d0b85506a402a9a00366d7f222b295d821ad899aaa4&w=360" alt="">
    </div>
    
</section>

<section class="about-section" id="sanmartin">

    <div class="about-text">
        <h2>Sucaursal de San Martin</h2>
        <p>La sucursal de San Martín se distingue por su ambiente familiar y acogedor, reflejando el espíritu cálido y comunitario de su ubicación. Situada en el corazón del partido de General San Martín, esta sucursal es un lugar donde la tradición y la calidad se encuentran. Los clientes pueden disfrutar de una gran selección de productos de panadería y pastelería, elaborados con ingredientes de la más alta calidad. La panadería es conocida por su pan casero, facturas esponjosas y deliciosos postres que encantan a todos los paladares. Además, el equipo de San Martín se enorgullece de ofrecer un servicio personalizado y atento, asegurando que cada cliente se sienta como en casa. 
        </p>
    </div>
    <div class="about-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13139.23864625117!2d-58.437510254685726!3d-34.58368240362786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59b49cc97c1%3A0x37b84acb7835e24f!2sLa%20Panader%C3%ADa!5e0!3m2!1ses!2sar!4v1718979740218!5m2!1ses!2sar" width="600" height="450"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
    </div>
    
</section>

<section class="about-section" id="caballito">
    <div class="about-text">
        <h2>Sucursal de Caballito</h2>
        <p>Ubicada en el dinámico y vibrante barrio de Caballito, la sucursal ofrece un espacio moderno y elegante para disfrutar de una excelente experiencia gastronómica. Con un diseño contemporáneo y un ambiente acogedor, esta sucursal se ha convertido en un lugar de referencia tanto para los vecinos del barrio como para los visitantes que buscan un lugar donde relajarse y disfrutar de productos frescos y deliciosos. La panadería de Caballito se destaca por su amplia variedad de panes, facturas y pasteles, todos elaborados con dedicación y pasión. La calidad de los ingredientes y la atención al detalle son evidentes en cada producto, haciendo que cada visita sea un verdadero placer. El equipo de la sucursal de Caballito se esfuerza por brindar un servicio excepcional, creando una experiencia inolvidable para cada cliente. 
        </p>
    </div>
    
    <div class="about-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13139.23864625117!2d-58.437510254685726!3d-34.58368240362786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59b49cc97c1%3A0x37b84acb7835e24f!2sLa%20Panader%C3%ADa!5e0!3m2!1ses!2sar!4v1718979740218!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section class="about-section" id="palermo">
    <div class="about-text">
        <h2>Sucursal de Palermo</h2>
        <p> La sucursal de Palermo se encuentra en uno de los barrios más emblemáticos y vibrantes de Buenos Aires. Con su estilo moderno y acogedor, esta sucursal es un punto de encuentro ideal tanto para los residentes del barrio como para los turistas que desean disfrutar de una experiencia gastronómica única. Situada en una calle tranquila pero cercana a las principales avenidas, la sucursal de Palermo ofrece un ambiente relajado y sofisticado. Aquí, los clientes pueden deleitarse con una amplia variedad de productos frescos y artesanales, desde panes y facturas recién horneadas hasta exquisitas tartas y pasteles. La atención al cliente es una prioridad, garantizando que cada visita sea memorable y placentera.
        </p>
    </div>
    
    <div class="about-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13139.23864625117!2d-58.437510254685726!3d-34.58368240362786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59b49cc97c1%3A0x37b84acb7835e24f!2sLa%20Panader%C3%ADa!5e0!3m2!1ses!2sar!4v1718979740218!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


<%- include('../partials/footer')%>