<%- include('../partials/head')%>

<main id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    
                
    <div class="carousel-inner">
        
      <div class="carousel-item active">
        
        <img src="https://img.freepik.com/foto-gratis/delicioso-pan-bagels-huevos-sobre-mesa_144627-8667.jpg?t=st=1721068131~exp=1721071731~hmac=37f32aad09240a5b0159a28e5033e8554833c0e9fdc527b0319868c81d22281e&w=826"  class="d-block w-100" data-bs-interval="4000" alt="..." >
        <div class="carousel-caption d-none d-md-block ">
            <div class="caption-background">
            <h2 class="fs-1  ">Bienvenidos a Daniis</h2>
            <p class="fs-2 ">El lugar donde cada pan es una obra de arte</p>
            </div>
        </div>
        
      </div>
      <div class="carousel-item">
        
        <img src="https://img.freepik.com/foto-gratis/delicioso-pan-casero_144627-37266.jpg?t=st=1721068206~exp=1721071806~hmac=e0cfdb651f25c961b5b2ab3c307685d57b47fdc18a46ff274ecade5c3927a9b1&w=740" class="d-block w-100" data-bs-interval="4000"  alt="...">
        <div class="carousel-caption d-none d-md-block ">
            <div class="caption-background">
            <h2 class="fs-1  ">Bienvenidos a Daniis</h2>
            <p class="fs-2 ">El lugar donde cada pan es una obra de arte</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/chef-mujer-amasando-masa-pizza_23-2148753730.jpg?t=st=1721068866~exp=1721072466~hmac=f4a8cec602d8d64a8396460d47ce776a904b90f06f32e9b0b6371a90e36954f9&w=740" class="d-block w-100"  data-bs-interval="4000" alt="...">
        <div class="carousel-caption d-none d-md-block ">
            <div class="caption-background">
            <h2 class="fs-1  ">Bienvenidos a Daniis</h2>
            <p class="fs-2 ">El lugar donde cada pan es una obra de arte</p>
            </div>
        </div>
      </div>
    </div>
</main>
    

    


    <%- include('../partials/footer')%>