<%- include('../partials/head')%>

    
    <main>

        <div class="banner" style="font-family: 'Open Sans', sans-serif;">
            <div class="text-container">
                <h1 class="h1-home">Bienvenidos a Daniis</h1>
                <h2 class="h2-home">El lugar donde cada pan es una obra de arte</h2>
                
            </div>
            
        </div>
    </main>

    


    <%- include('../partials/footer')%>